{%extends "base.html" %}

{% block content %}
<main class="main main--about">
<p>hi i am srujan</p>
<p>Hello there i am srujan, i have a great interest in learning Backend, So i choose backend as my future option i am a amature backend engineer
who has a great intrest in building and developing backends and to solve real-time server side problems </p>
<p>The most difficult and intresting part about learning backend is to working with Data and handling it, while learning about backend i came
    across many unknown fields which were challenging and the same time they were intresting </p>
<p>currently i am learning and focusing main on handling APIs mostly i am dealing with RESFTFULL APIs and ill be sharing more information about
    the challenges i faced while learning RestAPI</p>
</main>
{% endblock %}