{% extends "base.html" %}

{% block content %}

<main class="main main--content">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:srujanryali@gmail.com">
                    srujanryali[at]gmail[dot]com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>GitHub:</dt>
            <dd  class="contact__details">
                <a class="contact__link" href="https://github.com/Srujansri-Ryali">
                     @Srujansri-Ryali
                </a>
            </dd>
        </div>
    </dl>
</main>

{% endblock %}